/* font family */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* common style */
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
/* header style */
header{
    background-color: #2D25A0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px auto;
    padding: 20px 140px 20px 155px;
    overflow: hidden;
}

.header-info{
    margin-left: 0px;
    margin-right: 102px;
}

.header-title{
    font-size: 50px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 27px;
}

.header-info a{
    width: 168px;
    height: 44px;
    padding: 10px 24px;
    background-color: #E02C6D;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
}
.header-img img{
    width: 556px;
    height: 438px;
}

.header-img img:hover{
    transform: scaleX(1.2) rotate(20deg);
    transition: transform 2s ease-in-out;
}

/* Player Blogs Style */

.container{
    width: 1050px;
    margin: 50px auto;
}

.blogs{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 45px;
}
.blog{
    width: 330px;
    /* height: 474px; */
    background-color: #fff;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.blog-details{
    padding: 15px;
}
.thumbnail img{
    width: 300px;
    height: 256px;
}

.blog-title{
    font-size: 28px;
    font-weight: 700;
    margin-top: 15px;
    margin-bottom: 10px;
}

.blog-about{
    color: #6C6C6C;
    font-size: 16px;
    text-align: justify;
}

/* Latest Result style  */

.result-container{
    background-image: url("images/bg.jpg");
    padding: 50px 85px;
}

.latest-result-container{
    width: 1050px;  
    text-transform: uppercase; 
    color: #fff; 
    text-align: center;
}

.results{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
}

.result-box{
    width: 340px;
    padding: 20px;
    background-color: rgba(0,0,0,.2);
    text-align: center;
    padding: 20px;
}

.result{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 20px;
}
.result img{
    width: 40px;
    height: 40px;
}
.competition{
    color:  #E02C6D;
}

.game-result{
    background-color: #E02C6D;
    padding: 0px 8px;
    margin-top: 5px;
}